<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body class="Site">
    <%- include('../partials/header') %>
    <script src="/js/validacionesFrontProducto.js"></script>


    <main class="Site-content">
        <div class="contenedorMain">
            <h3>Formulario Alta de Producto</h3>  
            <form class="contenedorMainForm formAltaProducto"  action="/products" method="POST" enctype="multipart/form-data">

                <div class="erroresProducto">
                    <ul></ul>
                </div>

                <!-- NOMBRE DEL PRODUCTO -->
                <label class="contMainFormA">Nombre del Producto</label>
                 <input 
                   type="text"
                   id="name"
                   name="name"
                   placeholder="Nombre de producto"
                   class="contMainFormB campoName_altaProd"
                   value="<%= (locals.oldData && oldData.name) ? oldData.name : '' %>"
                   >  
                                <% if (locals.errors && errors.name) { %>
                                <p class="contMainFormA error"><%= errors.name.msg %>  </p>
                                <% } %>     

                <!-- DESCRIPCION -->
                 <label class="contMainFormA">Descripción</label>
                 <input 
                    type="text" 
                    name="description" 
                    placeholder="Descripcion" 
                    class="contMainFormB campoDescripcion_altaProd"
                    value="<%= (locals.oldData && oldData.description) ? oldData.description : '' %>"
                    >
                    
                                <% if (locals.errors && errors.description) { %>
                                        <p class="contMainFormA error"><%= errors.description.msg %>  </p>
                                <% } %> 


                <!-- IMAGEN -->
                 <label class="contMainFormA">Imagen</label>
                 <input type="file" name="image" placeholder="Imagen" class="contMainFormB">  
                 
                            <% if (locals.errors && errors.image) { %>
                                <p class="contMainFormA error"><%= errors.image.msg %>  </p>
                            <% } %>   

                 <!-- CATEGORIA  --> 
                 <label class="contMainFormA">Categoría</label>
                 <select id="anchoSelector" name="category">
                 <option value="" disabled selected>- Seleccionar categoría - </option>
                   
                     
                    <% for ( i = 0 ; i < categories.length ; i++) { %>
                        <option value="<%= categories[i].id %>"> <%= categories[i].name %> </option>
                    <% } %>
                     


                </select>   
                <!-- 

                <label class="contMainFormA">Talle</label>              
                <select id="anchoSelector" name="size">
                    <% let sizeOptions = ['Sin seleccionar','XS', 'S', 'M', 'L', 'XL'] %>
                    <% for ( i = 0 ; i < sizeOptions.length ; i++) { %>
                        <option value="<%= sizeOptions[i] %>"> <%= sizeOptions[i] %> </option>
                    <% } %>
                </select>  
                -->               
                 <label class="contMainFormA">Precio</label>
                 <input type="text" name="price" placeholder="Precio" class="contMainFormB"> 

                <button class="contMainButton" type="submit" name="Enviar">Crear Producto</button>
            </form>

        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>