<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body class="Site">
    <%- include('../partials/header') %>
    <main class="Site-content">
        <div class="contenedorMain">
                      <h3>Cambiar datos de Producto</h3>
            <form class="contenedorMainForm" action="/products/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <label class="contMainFormA">Nombre del Producto</label>
                 <input type="text" id="name" name="name" placeholder="Nombre de producto" class="contMainFormB" value='<%= productToEdit.name %>'>                 
                 <label class="contMainFormA">Descripción</label>
                 <input type="text" name="description" placeholder="Descripcion" class="contMainFormB" value='<%= productToEdit.description %>'>                 
                 <label class="contMainFormA">Imagen</label>
                 <input type="file" name="image" placeholder="Imagen" class="contMainFormB">                 
                 <label class="contMainFormA">Categoría</label>
                 <select id="anchoSelector" name="category">
                    <option value="" disabled>- Seleccionar categoría - </option>
                    <% for ( i = 0 ; i < categories.length ; i++) { %>
                        <option value="<%= categories[i].id %>"
                        <% if (productToEdit.category_id == categories[i].id) { %>
                             <%= 'selected' %> 
                             <%  }%> > <%= categories[i].name %> </option>
                    <% } %>
                </select>     
                <!-- 
                <label class="contMainFormA">Talle</label>              
                <select id="anchoSelector" name="size">
                    <% let sizeOptions = ['Sin seleccionar','XS', 'S', 'M', 'L', 'XL'] %>
                    <% for ( i = 0 ; i < sizeOptions.length ; i++) { %>
                        <% let isSelected = (productToEdit.size == sizeOptions[i]) ? 'selected' : ''; %>
                        <option value="<%= sizeOptions[i] %>" <%= isSelected %>> <%= sizeOptions[i] %> </option>
                    <% } %>
                </select>   
                -->                             
                 <label class="contMainFormA">Precio</label>
                 <input type="text" name="price" placeholder="Precio" class="contMainFormB" value='<%= productToEdit.price %>'>                 
                <button class="contMainButton" type="submit" name="edit">Guardar Cambios</button>
            </form>
            <form action="/products/<%= productToEdit.id %>?_method=DELETE" method="POST">
                <button class="contMainButton" type="submit" name="delete">Eliminar producto</button>
            </form>

        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>