<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body class="Site">
    <%- include('../partials/header') %>
    <main class="Site-content">
        <div class="container-productDetail">
            <h3>Información de producto </h3>
            <div class="container-imgAndproductDescription">
                <div class="container-img">
                    <img src="/<%=productToShowInDetail.image %>" alt="<%=productToShowInDetail.image%>">
                </div>
                <div class="container-productDescription">
                    <h4><%=productToShowInDetail.description%></h4>
                    <p>$<%=productToShowInDetail.price%></p>
                    <form action="/productCart" method="POST">
                        <input type="number" name="quantity" id="quantity" placeholder="Cantidad">
                        <button type="submit">Agregar al carrito</button>
                    </form>
                    <a href="/products/<%=productToShowInDetail.id%>/edit">Editar/eliminar producto</a>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>