<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body class="Site">
    <%- include('../partials/header') %>
    <main class="Site-content">
        <div class="contenedorMain">
                      <h3>Cambiar datos de Producto</h3>
            <form class="contenedorMainForm" action="/products/<%= productToEdit[0].id %>?_method=PUT" method="POST">
                <label class="contMainFormA">Nombre del Producto</label>
                 <input type="text" id="name" name="name" placeholder="Nombre de producto" class="contMainFormB" value='<%= productToEdit[0].name %>'>                 
                 <label class="contMainFormA">Descripción</label>
                 <input type="text" name="description" placeholder="Descripcion" class="contMainFormB" value='<%= productToEdit[0].description %>'>                 
                 <label class="contMainFormA">Imagen</label>
                 <input type="file" name="image" placeholder="Imagen" class="contMainFormB" value='<%= productToEdit[0].image %>'>                 
                 <label class="contMainFormA">Categoría</label>
                 <select id="anchoSelector" name="category">
                    <% let options = ['Sin seleccionar','Hombre', 'Mujer', 'Niño', 'Equipamiento'] %>
                    <% for ( i = 0 ; i < options.length ; i++) { %>
                        <% let isSelected = (productToEdit[0].category == options[i]) ? 'selected' : ''; %>
                        <option value="<%= options[i] %>" <%= isSelected %>> <%= options[i] %> </option>
                    <% } %>
                </select>                 
                 <label class="contMainFormA">Talle</label>
                 <input type="texto" name="color" placeholder="Color" class="contMainFormB" value='<%= productToEdit[0].size %>'>                 
                 <label class="contMainFormA">Precio</label>
                 <input type="text" name="price" placeholder="Precio" class="contMainFormB" value='<%= productToEdit[0].price %>'>                 
                <button class="contMainButton" type="submit" name="Enviar">Guardar Cambios</button>
            </form>

        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>