<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body class="Site">
    <%- include('../partials/header') %>
    <main class="Site-content">
       


<form class="contenedorMainForm" action="/users/updateProfile" method="POST">
              


    <label class="contMainFormA">Nombre</label>
    <input
        type="text"
        name="first_name"
        class="contMainFormB"
        value="<%= user.first_name %>"
    > 
    <% if (locals.errors && errors.first_name) { %>
            <p class="contMainFormA error"><%= errors.first_name.msg %>  </p>
    <% } %>              
    <label class="contMainFormA">Apellido</label>
    <input
        type="text"
        name="last_name"
        class="contMainFormB"
        value="<%= user.last_name %>"
    > 
    <% if (locals.errors && errors.last_name) { %>
        <p class="contMainFormA error"><%= errors.last_name.msg %>  </p>
    <% } %> 
    
    <label class="contMainFormA">E-Mail</label>
    <input
        type="text"
        name="email"
        readonly
        class="contMainFormB"
        value="<%= user.email %>"

    >
    <% if (locals.errors && errors.email) { %>
        <p class="contMainFormA error"><%= errors.email.msg %>  </p>
    <% } %>  
   
    
   
    <button class="contMainButton" type="submit">Actualizar Datos Personales</button>
</form>


    </main>
    <%- include('../partials/footer') %>
</body>
</html>