<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
	
	<div class="container" style="margin-top: 40px;">
		<div class="row">
			<div class="col-md-3">
				<h2><%= user.first_name + ' ' + user.last_name %> </h2>
				<img src="/images/users/<%= user.image %> ">
				
				
				<div class="alert alert-success"><%= user.email %> </div>
				<br>

				<a href="/users/editProfile">Modificar Datos del Perfil</a>
				<br>
				<a href="/users/editProfile">Cambiar Contraseña (falta desarrollar)</a>



			</div>
		</div>
	</div>
	
    <%- include('../partials/footer') %>
</body>
</html>